# Expliquer ce qu'est un KPI

Un KPI (key performance indice) est un indice permettant d'évaluer des critères comme la performance, l'efficacité d'une entreprise

# Importer les librairies pandas et numpy

In [1]:
import pandas as pd
import numpy as np

# Importer le dataset 'eval.csv'

In [2]:
df = pd.read_csv('eval_data.csv')

# Afficher les 10 premières lignes du dataset

In [3]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Afficher la dimension du dataset

In [4]:
df.shape

(4622, 6)

# Afficher et décrire les colonnes de notre dataset

In [5]:
df.dtypes

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [6]:
df.isna().sum()

Unnamed: 0               0
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price             100
dtype: int64

# Afficher les statistiques descriptives du dataset

In [7]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

# Quel est l'item de plus commandé ?

In [8]:
df['item_name'].mode()

0    Chicken Bowl
dtype: object

# Combien d'items ont été commandés au total ?

In [9]:
df['quantity'].sum()

4972

# Combien de chiffre d'affaire à réalisé la société ?

In [10]:
df['item_price_clean'] = df['item_price'].str[1:].astype(float); df['item_price_clean'].sum()

34261.16

# Quel est le revenu moyen par commande ?

In [11]:
nbOrder = df['order_id'].unique().shape[0]
totalCA = df['item_price_clean'].sum()
totalCA / nbOrder

18.681112322791716