In [7]:
import pandas as pd
fp = "https://bit.ly/missing-values"
df = pd.read_csv(fp)
df.head()

  color  rating
0   NaN    1.16
1   Red     NaN
2  Blue    2.54
3   Red    1.51
4   Red     NaN

In [2]:
for nom_col in ['color', 'rating']:
    idx = df.columns.get_loc(nom_col)
    df.insert(idx+1, nom_col+"_nan", df[nom_col].isna().astype("int"))
df.head()

  color  color_nan  rating  rating_nan
0   NaN          1    1.16           0
1   Red          0     NaN           1
2  Blue          0    2.54           0
3   Red          0    1.51           0
4   Red          0     NaN           1

In [3]:
df["color"].isna().sum()

129

In [4]:
df["color"].fillna("??????????")

0      ??????????
1             Red
2            Blue
3             Red
4             Red
          ...
912          Blue
913           Red
914    ??????????
915        Yellow
916          Blue
Name: color, Length: 917, dtype: object

In [5]:
df["rating"].fillna(df["rating"].mean())

0      1.160000
1      3.066672
2      2.540000
3      1.510000
4      3.066672
         ...
912    3.400000
913    3.066672
914    1.240000
915    2.640000
916    3.066672
Name: rating, Length: 917, dtype: float64

In [6]:
df["color"].value_counts()

Blue      323
Red       234
Orange    154
Yellow     77
Name: color, dtype: int64

In [8]:
for nom_col in ['rating']:
    idx = df.columns.get_loc(nom_col)
    df.insert(idx+1, nom_col+"_nan", df[nom_col].isna().astype("int"))
df.head()

  color  rating  rating_nan
0   NaN    1.16           0
1   Red     NaN           1
2  Blue    2.54           0
3   Red    1.51           0
4   Red     NaN           1

In [10]:
df["rating"].fillna(df["rating"].mean(), inplace=True); df

      color    rating  rating_nan
0       NaN  1.160000           0
1       Red  3.066672           1
2      Blue  2.540000           0
3       Red  1.510000           0
4       Red  3.066672           1
..      ...       ...         ...
912    Blue  3.400000           0
913     Red  3.066672           1
914     NaN  1.240000           0
915  Yellow  2.640000           0
916    Blue  3.066672           1

[917 rows x 3 columns]

In [12]:
df["color"] = df["color"].astype("category"); df

      color    rating  rating_nan
0       NaN  1.160000           0
1       Red  3.066672           1
2      Blue  2.540000           0
3       Red  1.510000           0
4       Red  3.066672           1
..      ...       ...         ...
912    Blue  3.400000           0
913     Red  3.066672           1
914     NaN  1.240000           0
915  Yellow  2.640000           0
916    Blue  3.066672           1

[917 rows x 3 columns]

In [13]:
df.dtypes

color         category
rating         float64
rating_nan       int32
dtype: object