## Extraire STR -> num

In [28]:
import pandas as pd
fp = "https://bit.ly/felonies-dataset"
df = pd.read_csv(fp)
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [2]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [3]:
df.isna().sum()

Date of Arrest    0
Age               0
Convicted         0
dtype: int64

In [ ]:
o = pd.cut(df['Age'], 
      bins=[10, 14, 20, 64, 100],
      labels=['Child', 'Ado', 'Adult', 'Senior'])

In [ ]:
o.isna().sum()

In [13]:
exo1 = pd.Series(data=[0, 1, 2, 3])

In [14]:
o = pd.cut(exo1, 
      bins=[0, 2, 3],
      labels=['A', 'B']); o

0    NaN
1      A
2      A
3      B
dtype: category
Categories (2, object): ['A' < 'B']

In [25]:
prefix = ["ten", "twen", "thir", "four", "fif", "six", "seven", "eigh", "nine"]
labels = [ p + "ties" for p in prefix ];

In [27]:
df['Age_Cat'] = pd.cut(df['Age'], 
      bins=range(9, 100, 10),
      labels=labels); df.head()

        Date of Arrest  Age Convicted    Age_Cat
0  2014-07-16 14:59:18   77       Yes  seventies
1  2002-12-19 22:17:59   28       Yes   twenties
2  1994-06-28 09:31:40   21        No   twenties
3  1985-05-14 09:52:17   45       Yes   fourties
4  1985-05-25 14:06:28   39       Yes   thirties

In [29]:
df.rename(columns={"Date of Arrest": "DoA"}, inplace=True)

In [30]:
df["DoA"].min()

'1968-01-10 02:41:49'

In [33]:
df['DoA'] = pd.to_datetime(df['DoA']); df['DoA']

0     2014-07-16 14:59:18
1     2002-12-19 22:17:59
2     1994-06-28 09:31:40
3     1985-05-14 09:52:17
4     1985-05-25 14:06:28
              ...
995   1992-02-04 14:24:25
996   1996-04-29 18:03:23
997   1980-07-15 21:59:27
998   1999-07-05 17:16:12
999   1996-03-17 18:29:25
Name: DoA, Length: 1000, dtype: datetime64[ns]

In [36]:
df['DoA'].dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [42]:
prefix = ["six", "seven", "eigh", "nine","zero", "ten", "twen"]
labels = [ p + "ties" for p in prefix ];

from datetime import datetime 
year = lambda y: datetime(year=y, month=1, day=1)
bins = range(1959, 2030, 10)
bins = [year(i) for i in bins]; bins

[datetime.datetime(1959, 1, 1, 0, 0),
 datetime.datetime(1969, 1, 1, 0, 0),
 datetime.datetime(1979, 1, 1, 0, 0),
 datetime.datetime(1989, 1, 1, 0, 0),
 datetime.datetime(1999, 1, 1, 0, 0),
 datetime.datetime(2009, 1, 1, 0, 0),
 datetime.datetime(2019, 1, 1, 0, 0),
 datetime.datetime(2029, 1, 1, 0, 0)]

In [43]:
pd.cut(df['DoA'], 
      bins=bins,
      labels=labels)

0       tenties
1      zeroties
2      nineties
3      eighties
4      eighties
         ...
995    nineties
996    nineties
997    eighties
998    zeroties
999    nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): ['sixties' < 'seventies' < 'eighties' < 'nineties' < 'zeroties' < 'tenties' < 'twenties']