In [1]:
import pandas as pd
fp = "https://bit.ly/felonies-dataset"
df = pd.read_csv(fp)
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [2]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [6]:
df.rename(columns= {"Date of Arrest": "DoA"}, inplace=True)

In [8]:
df["DoA"] = pd.to_datetime(df["DoA"])

In [13]:
colonne_temporaire = df["DoA"].dt.month * 100 + df["DoA"].dt.day

In [16]:
AVANT_JANVIER = 0
AVANT_PRINTEMPS=320
AVANT_ETE=620
AVANT_AUTOMNE=920
AVANT_HIVER=1220
FIN_ANNEE=1232
bins=[AVANT_JANVIER, AVANT_PRINTEMPS, AVANT_ETE, AVANT_AUTOMNE, AVANT_HIVER, FIN_ANNEE]
labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE', 'HIVER2']

In [18]:
saisons = pd.cut(colonne_temporaire, bins=bins, labels=labels); saisons

0            ETE
1        AUTOMNE
2            ETE
3      PRINTEMPS
4      PRINTEMPS
         ...
995        HIVER
996    PRINTEMPS
997          ETE
998          ETE
999        HIVER
Name: DoA, Length: 1000, dtype: category
Categories (5, object): ['HIVER' < 'PRINTEMPS' < 'ETE' < 'AUTOMNE' < 'HIVER2']

In [19]:
saisons = saisons.str.replace('2', ''); saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

In [20]:
saison = saisons.astype('category').cat.as_ordered().cat.reorder_categories(['AUTOMNE', 'HIVER', 'PRINTEMPS', 'ETE'])