<a href="https://colab.research.google.com/github/tomcraft/cours-python/blob/master/1A/4_intro_ml/exos_test_avocado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
from google.colab import files
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importer vos librairies
import pandas as pd
import sklearn as sk
from sklearn import model_selection
from sklearn import linear_model

In [4]:
#charger les donn√©es
df = pd.read_csv("drive/My Drive/avocado.csv")

In [7]:
#cleanup
df.drop("Unnamed: 0", axis="columns", inplace=True)

In [8]:
df.head()

         Date  AveragePrice  Total Volume  ...          type  year  region
0  2015-12-27          1.33      64236.62  ...  conventional  2015  Albany
1  2015-12-20          1.35      54876.98  ...  conventional  2015  Albany
2  2015-12-13          0.93     118220.22  ...  conventional  2015  Albany
3  2015-12-06          1.08      78992.15  ...  conventional  2015  Albany
4  2015-11-29          1.28      51039.60  ...  conventional  2015  Albany

[5 rows x 13 columns]

In [9]:
df.dtypes

Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [11]:
df.isna().sum()

Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [13]:
X = df[["Small Bags", "Large Bags", "XLarge Bags", "year"]]
Y = df[["AveragePrice"]]

In [14]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, Y, train_size=0.30, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5474, 4), (12775, 4), (5474, 1), (12775, 1))

In [15]:
reg = linear_model.LinearRegression().fit(X_train, y_train)
print("beta_j", reg.coef_)
print("beta_0", reg.intercept_)

beta_j [[-7.87922503e-08 -1.50140376e-07  1.45840376e-06  4.32749628e-02]]
beta_0 [-85.8193049]

In [16]:
reg.predict(X_test)

array([[1.50155269],
       [1.36935274],
       [1.42280543],
       ...,
       [1.42290737],
       [1.47018749],
       [1.46624948]])